<div class="">
	<div class="padding-top">
		<div class="big-card">
			<h1 class="text-center">We Sent 54 messages on your behalf!</h1>
			<h2 class="align-left padding-left">From: <%= link_to "myra@womaninc.org", "#" %></h2>
			<h2 class="align-left padding-left">Subject: Volunteer opportunity with W.O.M.A.N. inc - mental health care for a domestic abuse survivor</h2>
			<h2 class="align-left padding-left">Message:</h2>
			<p class="align-left padding-left">Hi there,</p>
			<p class="align-left padding-left">
				W.O.M.A.N., Inc. (Women Organized to Make Abuse Nonexistent) is dedicated to empowering domestic violence survivors to create lives free of violence. An integral part of our services include much needed metal health therapy for survivors.
			</p>
			<p class="align-left padding-left">
				Maria, a 45 year old woman, recently came into our care after years of domestic abuse. She would greatly benefit from therapy but we are short of Spanish-speaking therapists. We noticed that you have a lot of experience in abuse recovery and relationship and that you also offer sessions in Spanish. Would you be able to volunteer a session or two for Maria in the next two weeks? We also have equipment to support online sessions for greater time flexibility.
			</p>
			<p class="align-left padding-left">
				Volunteers are key to W.O.M.A.N., Inc.‘s success. Over the past couple of years, they have offered close to 20,000 hours of service to the agency and the survivors we serve. Please join us in our mission.
			</p>
			<p class="align-left padding-left">
				Best,
			</p>
			<p class="align-left padding-left">
				Myra
			</p>
		</div>
	</div>
</div>
