/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Add a black background color to the top navigation */
body {
	font-family: Muli;
	font-size: 14px;
}

.topnav {
  background-color: #3EA1F0;
  position: fixed;
  top: 0;
  padding: 0;
  width: 100%;
  margin-left: -8px; 
}

.links {
	display: block;
	float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 8px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav .links:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.icon{
	float: left;
	vertical-align: middle;
	text-align: left;
	padding-left: 10px;
	height: 70%;
	padding: 5px;
	padding-left: 15px;
	display: block;
}

.container {
	margin-top: 51px;
}

h1 {
	font-size: 26px;
	color: #444848;
	font-weight: 300;
	padding-top: 18px;
	margin-bottom: 0;
}

h2 {
	font-size: 20px;
}

.padding-left {
	padding-left: 60px;
}

.padding-right {
	padding-right: 60px;
}

.padding-top {
	padding-top: 18px;
}

.no-top-margin {
	margin: 0;
}

.text-center {
	text-align: center;
}

.text-gray {
	color: #838383;
}

.text-blue {
	color: #0078d7;
}

.text-darkgray {
	color: #444848;
}

.text-white {
	color: white;
}

.text-green {
	color: #55d18d;
}

.no-dec {
	text-decoration: none;
}

.btn-lrg {
	width: 180px;
	height: 48px;
	border-radius: 100px;
	background-color: #3ea1f0;
	color: white;
	font-size: 14px;
	border: none;
}

.btn-sml {
	width: 91px;
	height: 25px;
	border-radius: 100px;
	background-color: #55d18d;
	font-size: 12px;
	color: white;
	border: none;
	text-decoration: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.block {
	display: block;
}

.card {
	width: 376px;
	height: 195px;
	border-radius: 8px;
	background-color: #ffffff;
	border: solid 1px #e6e6e6;
	margin: 9px;
}
