<div class="topnav" id="myTopnav">
  <a href="#"><%= image_tag("chat.svg", :class => "icon") %></a> 
  <a href="#news" class="links">News</a>
  <a href="#contact" class="links">Contact</a>
  <a href="#about" class="links">About</a>
</div>